// Banner ------------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#homepage-banner-container {
    height: 600px;
    margin-top: calc(-1 * $NAVIGATION_MARGIN);
    background-image: url("/web/images/campfire.jpg");
    background-size: cover;
    background-position: 50% 100%;
    display: grid;
    grid-template-rows: 7fr 1fr;
    color: $WHITE;

    #homepage-title {

        .content-container {
            width: $MAX_CONTENT_WIDTH;
            margin-top: $LARGE_MARGIN * 2;
            
            h1 {
                align-self: end;
                font-size: 110px;
                font-weight: 400;
                margin-bottom: $LARGE_MARGIN;
            }
    
            p {
                font-size: 22px;
            }
        }
    }

    #homepage-navigation-container {
        background-color: rgba(0, 0, 0, 0.50);
        align-self: end;

        .top-bar-tabs {
            grid-template-columns: repeat(5, 1fr);
            background-color: transparent;

            a {
                color: $WHITE;
            }

            .tab:not(.selected-tab):hover
            {
                background-color: $BLACK;
            }
        }
    }
}

// About -------------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#about-container {

    .content-container {

        h1 {
            text-align: center;
            margin-bottom: $X_LARGE_MARGIN;
        }

        #about-description {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: $XX_LARGE_MARGIN;
            align-items: center;
            margin-bottom: $X_LARGE_MARGIN;

            #video-container {
                position: relative; 
                padding-bottom: 55%; 
                height: 0; 
                overflow: hidden; 
                max-width: 100%;

                iframe, object, embed {
                    position: absolute; 
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 100%;
                }
            }
        }

        #logos-container {
            @include center-flex;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            a {
                width: 45%;
                justify-self: center;

                img {
                    width: 100%;
                }

                #iMG-logo {
                    width: 80%;
                }
            }
        }
    }
}

// Featured Circles --------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#featured-circles-container {
    background-color: $LIGHT_GREY;
    padding: $X_LARGE_MARGIN 0;

    .content-container {

        h1 {
            text-align: center;
            margin-bottom: $X_LARGE_MARGIN;
        }

        #circles-scroll-container {
            
            .featured-circle {
                
                img {
                    border-radius: 50%;
                }
        
                p {
                    font-size: 20px;
                }
            }
        }
    }
}

// Development -------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#development-container {

    .content-container {

        #development-description-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: $SMALL_MARGIN;
            align-items: center;
            margin-bottom: $XX_LARGE_MARGIN;

            #video-container {
                position: relative; 
                padding-bottom: 45%; 
                height: 0; 
                overflow: hidden; 
                max-width: 100%;

                iframe, object, embed {
                    position: absolute; 
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 100%;
                }
            }
        }

        #development-links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            margin: 0 $X_LARGE_MARGIN;

            .icon-container {
                @include center-flex;
                margin-bottom: $SMALL_MARGIN;

                i {
                    font-size: $DEFAULT_XXX_LARGE_ICON;
                }
            }

            p, a {
                text-align: center;
                color: $BLACK;
            }
        }
    }
}

// News --------------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#news-container {

    .content-container {

        #news-years-container {
            margin-bottom: $MEDIUM_MARGIN;

            .news-year {
                @include secondary-button;
                display: inline-block;
                margin-right: $MEDIUM_MARGIN;
            }

            .selected-year {
                @include primary-button;
            }
        }

        #news-articles-container {
            
            #news-article {
                display: grid;
                grid-template-columns: 1fr 5fr;
                grid-gap: $LARGE_MARGIN;
                background-color: $LIGHT_GREY;
                padding: $LARGE_MARGIN;
                margin-bottom: $MEDIUM_MARGIN;

                img {
                    width: 100%;
                }

                #article-description {
                    align-self: center;
                    
                    h2 {
                        margin-bottom: $X_SMALL_MARGIN;
                    }

                    h3 {
                        margin-bottom: $SMALL_MARGIN;
                    }

                    p {
                        margin-bottom: $X_SMALL_MARGIN;
                    }
                }
            }
        }
    }
}

// Project Team ------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#project-team-container {

    .content-container {

        h1 {
            text-align: center;
            margin-bottom: $X_LARGE_MARGIN;
        }

        .team-member {

            h2 {
                margin: 0;
            }
        }
    }
}