#prototyping-body {

    footer {
        margin-top: $LARGE_MARGIN;
    }
}

#prototyping-main {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.hide-until-ready {
    visibility: hidden;
}

// Navigation --------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#prototyping-navigation-container {
    @include no-spacing;
    margin: 0 auto;
    margin-bottom: $LARGE_MARGIN;
    background-color: $WHITE;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "nav-logo nav-title nav-return-home"
                         "current-prototype current-prototype prototype-buttons";

    // Logo
    #logo-container {
        @include start-flex;
        justify-self: start;
        align-self: center;
        grid-area: nav-logo;
        height: $DEFAULT_NAV_HEIGHT;
        padding: 0 $SECTION_PADDING;

        a {
            img {
                height: 55%;
            }
        }
    }

    // Title
    #prototyping-title-container {
        grid-area: nav-title; 
        @include start-flex;

        h3 {
            @include no-spacing;
        }
    }

    // Return to Home 
    #exit-prototyping-container {
        @include end-flex;
        grid-area: nav-return-home;
        
        .icon-container {
            @include icon-grow($DEFAULT_LARGE_ICON);
            padding-right: $SECTION_PADDING + 5px;

            a {
                @include center-flex;
            }
        }
    }

    // Current Prototype Buttons
    #current-prototype-title-container {
        grid-area: current-prototype;
        background-color: $LIGHT_GREY;
        padding: $MEDIUM_MARGIN $SECTION_PADDING;

        #prototype-title {
            @include no-spacing;
            font-weight: 400;
        }
    }

    // Prototype Buttons
    #prototyping-buttons-container {
        @include end-flex;
        grid-area: prototype-buttons;
        background-color: $LIGHT_GREY;
        padding: 0 $SECTION_PADDING;

        .prototype-button {
            @include secondary-button;
            margin-left: $SMALL_MARGIN;
        }
    }
}

// Initial Buttons ---------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#initial-buttons-container {
    @include outline-button(block, auto, $XX_SMALL_MARGIN $MEDIUM_MARGIN);
    @include center-flex;
}

// Prototyping -------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------------------------------------

#prototyping-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $LARGE_MARGIN;
    height: 100%;
    box-sizing: border-box;
    padding: 0 $SECTION_PADDING;

    #prototype-input-container {

        #prototyping-form {
            height: 100%;

            fieldset {
            
                #prototyping-input {
                    resize: none;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    #result-container {
        position: relative;

        #prototype-input-messages{
            position: absolute; 
            left: 0px; 
            top: 0px; 
            z-index: +1;
            margin: $SMALL_MARGIN+5px $MEDIUM_MARGIN;

            .error-message, .warning-message {
                margin-top: 0;
                margin-bottom: $X_SMALL_MARGIN;
                display: flex;
            }
        }
    }
}

