// Headings and Text -------------------------------------------------------------------------------------------------------------------------------------

html {
    font-family: 'Roboto', sans-serif;
}

hr {
    border-top: 1px solid $BLACK;
    margin: 0;
}

h1 {
    @include no-spacing;
    margin-bottom: $SECTION_PADDING;
    font-weight: 700; 
    font-size: 35px;
 }

h2 {
    @include no-spacing;
    margin-bottom: $SECTION_PADDING;
    font-weight: 300; 
    font-size: 28px;
    text-transform: uppercase;
}

h3 {
    @include no-spacing;
    margin-bottom: $SECTION_PADDING;
    font-weight: 500; 
    font-size: 20px;
}

p, i, a, label, input, select, option {
    @include no-spacing;
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.8;
}

a {
   text-decoration: none;
   color: $BLUE;
   cursor: pointer;
}

.important-text {
    font-weight: 700;
    color: $BLUE;
}

// Icons -------------------------------------------------------------------------------------------------------------------------------------------

.icon-container {
    @include no-spacing;
    display: inline-block;
}

.pseudo-icon::before, .pseudo-icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.link-icon::after {
    font: var(--fa-font-solid);
    content: '\f105';
    font-size: 12px;
    margin-left: 2px;
    margin-right: 3px;
}

.link-icon:hover::after {
    content: '\f061';
    font-size: 12px;
    margin-left: 5px;
    margin-right: 3px;
}

// Success and Error Messages ----------------------------------------------------------------------------------------------------------------------

p.success-message {
    @include start-flex;
    color: $GREEN;
    margin-top: $MEDIUM_MARGIN;
    display: none;
}

p.success-message::before {
    font: var(--fa-font-solid);
    content: '\f058';
    margin-right: $SMALL_MARGIN;
    font-size: $MEDIUM_ICON;
}

p.error-message {
    @include start-flex;
    color: $RED;
    margin-top: $MEDIUM_MARGIN;
    display: none;
}

p.error-message::before {
    font: var(--fa-font-solid);
    content: '\f06a';
    margin-right: $MEDIUM_MARGIN;
    font-size: $MEDIUM_ICON;
}