// Footer --------------------------------------------------------------------------------------------------------------------------------------
footer 
    p.footer-email info@uni-vr-sity.ca
    p.footer-copyright Copyright Interactive Media Group 2024