// Footer --------------------------------------------------------------------------------------------------------------------------------------
footer 
    //p.footer-email info@uni-vr-sity.ca
    //p.footer-copyright copy right info