// Footer --------------------------------------------------------------------------------------------------------------------------------------
footer 
    p info@uni-vr-sity.ca
    p copy right info