- var adminUser = userInfo.usertype === CIRCLES.USER_TYPE.SUPERUSER || userInfo.usertype === CIRCLES.USER_TYPE.ADMIN;
- var hasMagicLinks = userInfo.usertype === CIRCLES.USER_TYPE.SUPERUSER || userInfo.usertype === CIRCLES.USER_TYPE.ADMIN || userInfo.usertype === CIRCLES.USER_TYPE.TEACHER || userInfo.usertype === CIRCLES.USER_TYPE.RESEARCHER;
- var notGuest = userInfo.usertype !== CIRCLES.USER_TYPE.GUEST && userInfo.usertype !== CIRCLES.USER_TYPE.MAGIC_GUEST;

nav
    .logo-container
        a.logo(href='/explore')
            include ./circles-logo.svg

    .nav-hamburger(onclick='displayNavigation()')
        .icon-container
            i(class='fa-solid fa-bars')

    .nav-items-container
        ul.nav-items
            li
                a(href='/explore') Explore
            li
                a(href='/more-circles') More Circles

            if adminUser
                li
                    a(href='/more-circles') Manage Circles
                li
                    a(href='/manage-users') Manage Users

    .profile-container
        .profile-information
            .icon-container
                i(class='fa-solid fa-user')
            p.username= userInfo.username
        .profile-dropdown 
            ul
                li
                    a(href='/profile') Profile

                if hasMagicLinks
                    li
                        a(href='/your-magic-links') Your Magic Links

                if notGuest
                    li
                        a(href='/uploaded-content') Uploaded Content

                li 
                    a.red(href='/logout') Log out