// Variables -----------------------------------------------------------------------------------------------------------------------------------
- var isLoggedIn = false;

if userInfo 
    - isLoggedIn = true;
    - var adminUser = userInfo.usertype === CIRCLES.USER_TYPE.SUPERUSER || userInfo.usertype === CIRCLES.USER_TYPE.ADMIN;
    - var hasMagicLinks = userInfo.usertype === CIRCLES.USER_TYPE.SUPERUSER || userInfo.usertype === CIRCLES.USER_TYPE.ADMIN || userInfo.usertype === CIRCLES.USER_TYPE.TEACHER || userInfo.usertype === CIRCLES.USER_TYPE.RESEARCHER;
    - var notGuest = userInfo.usertype !== CIRCLES.USER_TYPE.GUEST && userInfo.usertype !== CIRCLES.USER_TYPE.MAGIC_GUEST;

// Navigation bar ------------------------------------------------------------------------------------------------------------------------------
nav
    // Logo ---------------------------------------------------------------------------------
    .logo-container
        a.logo(href='/explore')
            img(src='/web/images/logos/uni-VR-sity-logo.png' alt='uni-VR-sity Logo')

    if isLoggedIn
        // Hamburger icon (mobile) --------------------------------------------------------------
        .nav-hamburger(onclick='displayNavigation()')
            .icon-container
                i(class='fa-solid fa-bars')

        // Navigation buttons -------------------------------------------------------------------
        .nav-items-container
            ul.nav-items
                li
                    a(href='/explore') Explore
                li
                    a(href='/more-circles') More Circles

                if adminUser
                    li
                        a(href='/manage-users') Manage Users

        // Profile ------------------------------------------------------------------------------
        .profile-container

            // Profile information --------------------------------------------------------------
            .profile-information
                .icon-container
                    i(class='fa-solid fa-user')
                p.username= userInfo.username
            
            // Profile dropdown -----------------------------------------------------------------
            .profile-dropdown 
                ul
                    li
                        a(href='/profile') Profile

                    if hasMagicLinks
                        li
                            a(href='/your-magic-links') Your Magic Links

                    if notGuest
                        li
                            a(href='/uploaded-content') Uploaded Content

                    li 
                        a.red(href='/logout') Log out

    else 
        // Hamburger icon (mobile) --------------------------------------------------------------
        .nav-hamburger(onclick='displayNavigation()')
            .icon-container
                i(class='fa-solid fa-bars')
                
        // Navigation buttons -------------------------------------------------------------------
        .nav-items-container
            ul.nav-items
                li
                    a(href='/more-circles') More Circles

        // Profile ------------------------------------------------------------------------------
        .profile-container

            // Profile information --------------------------------------------------------------
            .profile-information
                .icon-container
                    i(class='fa-solid fa-user')
                p.username Account
            
            // Profile dropdown -----------------------------------------------------------------
            .profile-dropdown 
                ul
                    li
                        a(href='/login') Log In

                    li
                        a(href='/register') Register

                    li
                        a(href='/guest-login') Continue as Guest