header.profile-header
  - var adminUser = userInfo.userType === CIRCLES.USER_TYPE.SUPERUSER || userInfo.userType === CIRCLES.USER_TYPE.ADMIN;
  
  h1.profile-heading
    a(href="/explore" class="profile-logo")
      include ./circles_logo.svg
  ul.topbar-links
    li
      a(href="/explore") Explore
    li
      a(href="/more-circles") More Circles
  .topbar-header__popover-wrapper
    button.topbar-header__popover-activator
      img(src=`https://www.gravatar.com/avatar` class="topbar-header__image")
      span= currentUser.username
    .topbar-popover
      ul
        if adminUser
          li
            a(href="/manage-users" style='white-space:nowrap') Manage users
        li
          a(href="/profile") Profile
        li
          a(href="/uploaded-content") Uploaded Content
        li 
          a(href="/logout") Log out
