extends template.pug

block content

    // Session information --------------------------------------------------------------
    section.session-information-container
        .content-container

            .session-information-description
                h2 Session Information

                p Set how your avatar is displayed for this session. Change it permanently on your
                    span 
                        a.link-icon(href='/profile') profile page

            // Display name form ----------------------------------------------------
            .session-name-form
                form(action="/update-session-name" method="post")
                    fieldset

                        .form-field
                            label(style='white-space:nowrap') Display Name
                            input(type='text' name='sessionName' value=sessionName)
                            input.inline-submit(type='submit' value='Set Name')

            // Display name button --------------------------------------------------
            .session-name-button
                a Display Name

            // Avatar button --------------------------------------------------------
            .session-wardrobe-button
                div
                    .icon-container
                        i

                    p Wardrobe

    // Circles --------------------------------------------------------------------------
    section.circles-container

        // Top bar ----------------------------------------------------------------------
        .circles-top-bar-container
            .circles-top-bar

                // Tabs -----------------------------------------------------------------
                .circles-tabs
                
                    .public-circles.selected-tab
                        h3 Public Circles

                    .your-circles 
                        h3 Your Circles

                    .editable-circles
                        h3 Editable Circles

                    .mobile-tabs-icon   
                        .icon-container
                            i(class='fa-solid fa-chevron-down')

                // Search bar -----------------------------------------------------------
                .circles-search-bar
                    +searchBar()

        // Group selection --------------------------------------------------------------
        .circles-groups
            .content-container

                .circles-selectors
                    select
                        option(value='all') Group 1
                        option(value='all') Group 1

                    select
                        option(value='all') Subgroup 1
                        option(value='all') Group 1

                .icon-container 
                    i(class='fa-solid fa-gear')

        // All circles ------------------------------------------------------------------
        .circles-display

            .circle
                img(src='/worlds/Campfire/example.jpg')
                
                .circle-info-with-settings
                    .icon-container 
                        i(class='fa-solid fa-gear')

                    p World Name

            .circle 
                img(src='/worlds/Campfire/profile.jpg')
                
                .circle-info-with-settings
                    .icon-container 
                        i(class='fa-solid fa-gear')

                    p World Name

            .circle 
                img(src='/worlds/Campfire/example.jpg')
                
                .circle-info-no-settings
                    p World Name

            .circle 
                img(src='/worlds/Campfire/profile.jpg')
                
                .circle-info-no-settings
                    p World Name

            .circle 
                img(src='/worlds/Campfire/example.jpg')
                
                .circle-info-with-settings
                    .icon-container 
                        i(class='fa-solid fa-gear')

                    p World Name

            .circle
                img(src='/worlds/Campfire/profile.jpg')
                
                .circle-info-with-settings
                    .icon-container 
                        i(class='fa-solid fa-gear')

                    p World Name

        // Page selector ----------------------------------------------------------------
        .circles-page-selector
            .content-container

                .icon-container 
                    i(class='fa-solid fa-chevron-left')

                .page-number-container 

                    .page-number.current-page
                        p 1

                    .page-number
                        p 2

                    .page-number
                        p 3

                    .page-number-seperator
                        p . . .

                    .page-number
                        p 5

                .icon-container
                    i(class='fa-solid fa-chevron-right')

        // View more circles ------------------------------------------------------------
        .circles-view-more
            .content-container
                a View More

    // Magic links ----------------------------------------------------------------------
    section.magic-links-container
        .create-link
            .content-container

                h2 Magic Links

                p Select the expiry, forwarding group, and circle(s), then click on the blue 
                    span.important-text [Create] 
                    span button below to generate a magic link. Just copy and send the link to automatically give them access to the circle(s) as a guest user.

                a See Created Links

                form(action='/create-magic-link' method='post')
                    fieldset

                        .form-field
                            label.required-form-label Expiration

                            select(name='linkExpiry' id='linkExpiry')
                                option(value='7' selected) 7 days

                                - for (var i = 30; i <= 90; i += 30)
                                    option(value=value) !{i} days

                                option(value='custom') Custom...
                                option(value='never') Never

                            .inline-field
                                input(type='date' name='linkExpiryDate')

                        .form-field
                            label.required-form-label Link name
                            input(type='text' name='forwardingName' value='ClassVR' required)

                        .form-field
                            label.required-form-label Circles
                            input(type='button' value='Select Circles')
                            span.num-selected 0 selected

                        .form-field
                            input(type='submit' value='Create')
                            

        .display-link
            .content-container

                .copy-magic-link 
                    p Magic link successfully created for the following circles: ....
                    +copyLink()