/* Style Contstants ****************************************/

:root {
    --WHITE: #FFFFFF;
    --BLACK: #000000;
    --GREY: #D7D7D7;
    --HOVER_GREY: #c5c5c5;
    --DARK_GREY: #575757;
    --BLUE: #157AD8;
    --DARK_BLUE: #104C84;
    --CONTRAST_COLOR: #E85D75;

    font-family: Arial, sans-serif;
}