/* Text *************************************************************************************************************************************************/

.red {
    color: var(--RED);
}

/* Icons *************************************************************************************************************************************************/

.icon-container {
    display: inline-block;
    padding: 0;
}