/* Default style for tables ****************************************/

/********************************************************************

Basic Layout:

div.table-top-bar

    p *** Your Headings ***
    p
    p




*********************************************************************/

/* Colors ***********************************************************/

.table-top-bar { width:100%; background-color:var(--GREY); }

.table-top-bar h3 { padding:20px 30px; margin:0; display:inline-block; }
.table-top-bar h3:hover {  background-color:var(--HOVER_GREY); cursor:pointer; }

.table-top-bar .selected { background-color:var(--DARK_GREY); color:var(--WHITE);  cursor:pointer; }
.table-top-bar .selected:hover { background-color:var(--DARK_GREY); color:var(--WHITE); }