extends ../template.pug

block content

    // Variables -----------------------------------------------------------------------------------------------------------------------------------
    

    // Mixins --------------------------------------------------------------------------------------------------------------------------------------


    // Webpage -------------------------------------------------------------------------------------------------------------------------------------

    // Banner -------------------------------------------------------------------------------
    section#homepage-banner-container
        #homepage-title
            .content-container 

                // Title ------------------------------------------------------------------------
                h1 uni-VR-sity

                // Description ------------------------------------------------------------------
                #intro-description
                    p WebXR learning framework and research project that explores multi-learner and multi-platform
                    p (Desktop, Mobile, and HMD) learning affordances

        // Page Navigation --------------------------------------------------------------
        #homepage-navigation-container.top-bar-container
            .top-bar
                
                .top-bar-tabs
                    .tab 
                        a(href='#about-container') About 

                    .tab 
                        a(href='#featured-circles-container') Showroom 

                    .tab 
                        a(href='#development-container') Development 

                    .tab 
                        a(href='#news-container') News 

                    .tab 
                        a(href='#project-team-container') Project Team

    // About --------------------------------------------------------------------------------
    section#about-container 
        .content-container 
            
            h1 Educational VR Framework

            #about-description

                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper. Duis autem vel eum iriure. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.

                #video-container
                    iframe(src='https://player.vimeo.com/video/326387226' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)

            #logos-container 
                a(href="https://img.csit.carleton.ca/#projects/0/UNI-VR-SITY" target='_blank')
                    img#iMG-logo(src='/web/images/logos/iMG-logo.png' alt="iMG Logo")

                a(href="https://circlesxr.com/" target='_blank')
                    img#circles-logo(src='/web/images/logos/circles-logo.svg' alt="CirclesXR Logo")

                a(href="https://carleton.ca/" target='_blank')
                    img#carletonU-logo(src='/web/images/logos/carletonU-logo.png' alt="Carleton University Logo")

    // Featured Circles ---------------------------------------------------------------------
    section#featured-circles-container 
        .content-container 

            h1 Featured Circles

            #circles-scroll-container 
                p arrow 
                p circle
                p circle 
                p circle 
                p arrow

    // Development --------------------------------------------------------------------------
    section#development-container 
        .content-container

    // News ---------------------------------------------------------------------------------
    section#news-container 
        .content-container 

    // Project Team -------------------------------------------------------------------------
    section#project-team-container 
        .content-container 
    
    include ../includes/footer.pug