html
    head

        title Prototyping
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        block stylesheets
            link(rel='stylesheet' type='text/css' href='/web/css/styles.css')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

        block scripts
            script(src='/global/js/libs/aframe-master.min.js')
            script(src='/web/js/layout.js')
            script(src='/web/js/forms.js')
            script(src='/web/js/overlay.js')
            script(src='/web/js/scroll-gallery.js')
            script(src='/web/js/views/CENTRAL_SERVER/prototyping.js')
            script(src='https://kit.fontawesome.com/23ccd10015.js' crossorigin='anonymous')

    body#prototyping-body

        // Variables -------------------------------------------------------------------------------------------------------------------------------

        // Navigation ------------------------------------------------------------------------------------------------------------------------------
        nav#prototyping-navigation-container

            // Logo -------------------------------------------------------------------------
            #logo-container
                a.logo(href='/')
                    img(src='/web/images/logos/uni-VR-sity-logo.png' alt='uni-VR-sity Logo')

            // Title Container --------------------------------------------------------------
            #prototyping-title-container
                h3 Prototyping

            // Exit Prototyping -------------------------------------------------------------
            #exit-prototyping-container 
                .icon-container
                    a(class='fa-solid fa-arrow-right-from-bracket' href='/')

            // Current Prototype Title Container --------------------------------------------
            #current-prototype-title-container.hide-until-ready
                h3#prototype-title Name

            // Prototype Buttons Container --------------------------------------------------
            #prototyping-buttons-container.hide-until-ready
                input(type='submit' form='prototyping-form' value='Update')
                
                .prototype-button
                    a() Export

                .prototype-button
                    a() New Prototype

        // Webpage ---------------------------------------------------------------------------------------------------------------------------------
        main#prototyping-main

            // Inital Buttons ---------------------------------------------------------------
            section#initial-buttons-container 
                a(onclick='newPrototype()') Create New Prototype

            include includes/create-prototype.pug

            // Prototyping ------------------------------------------------------------------
            section#prototyping-container.hide-until-ready

                #prototype-input-container  
                    
                    form#prototyping-form(onsubmit='updatePrototype(event)' method='post')
                        fieldset
                            
                            .form-field
                                textarea#prototyping-input(name='prototyping' required)

                #result-container
                    #prototype-scene 

                    p#prototype-input-error.error-message

        include ../includes/footer.pug