// Title -------------------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------

#circle-title-container {

    .content-container {
        display: grid;
        grid-template-columns: 1fr 4.75fr;
        grid-template-areas: "profile-picture circle-name"
                             "profile-picture access-restriction"
                             "profile-picture circle-group";

        img {
            grid-area: profile-picture;
            aspect-ratio: 1 / 1;
            width: 100%;
            object-fit: cover;
            border-radius: 200px;
        }

        h1 {
            @include no-spacing;
            @include start-flex;
            grid-area: circle-name;
            align-items: end;
            margin-left: $X_LARGE_MARGIN;
            margin-bottom: $MEDIUM_MARGIN + 8px;
        }

        .circle-access-restriction {
            grid-area: access-restriction;
            margin-left: $X_LARGE_MARGIN;

            h3 {
                @include no-spacing;
                @include start-flex;
                align-items: start;
                display: inline-block;
                width: 85px;
            }
    
            .icon-container {
                @include icon-highlight(17px);
                display: inline-block;
    
                i.no-access-rectriction::after {
                    font: var(--fa-font-solid);
                    content: '\f09c';
                }
    
                i.has-access-rectriction::after {
                    font: var(--fa-font-solid);
                    content: '\f023';
                }
            }
        }

        .circle-group {
            grid-area: circle-group;
            margin-left: $X_LARGE_MARGIN;
            margin-top: -15px;

            .group-text {
                display: inline-block;
                min-width: 68px;

                p {
                    display: inline-block;
                }
            }

            .icon-container {
                @include icon-highlight(17px);
                display: inline-block;
                margin-left: $SMALL_MARGIN;
            }
        }
    }
}

// User Access -------------------------------------------------------------------------------------------------------------------------------------------

// DEFAULT ----------------------------------------------------

#user-access-container {

    .header-row {
        background-color: $LIGHT_GREY;
    }

    .content-container {

        .warning {
            display: block;
            margin-bottom: $MEDIUM_MARGIN;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.5fr;
            grid-template-areas: "username user-type viewing-access editing-access"
                                 "divider divider divider divider";

            p, b {
                margin: $MEDIUM_MARGIN 0;
            }

            .username {
                grid-area: username;
                padding-left: 50px;
            }

            .user-type {
                grid-area: user-type;
                padding-left: 25px;
            }

            .viewing-access {
                grid-area: viewing-access;
                display: flex;
            }

            .editing-access {
                grid-area: editing-access;
                display: flex;
            }

            hr {
                grid-area: divider;
            }

            .icon-container {
                @include start-flex;
                margin-left: 40px;

                i::after {
                    font: var(--fa-font-solid);
                    content: '\f205';
                    font-size: 30px;
                }

                i:hover {
                    cursor: pointer;
                }
            }

            .permitted-icon {

                i {
                    color: $GREEN;
                }
            }

            .restricted-icon {

                 i {
                    transform: rotate(180deg);
                    color: $RED;
                }
            }

            .disabled {

                i:hover {
                    cursor: not-allowed;
                }
            }

            .disabled.permitted-icon {
    
                i {
                    color: $DISABLED_GREEN;
                }
            }
    
            .disabled.restricted-icon {

                i {
                    color: $DISABLED_RED;
                }
            }
        }
    }

    .greyed {
        color: $GREY_TEXT;

        .row {

            hr {
                border-top-color: $GREY_TEXT;
            }

            .icon-container {

                i:hover {
                    cursor: not-allowed;
                }
            }

            .permitted-icon {

                i {
                    color: $DISABLED_GREEN;
                }
            }

            .restricted-icon {

                i {
                   transform: rotate(180deg);
                   color: $DISABLED_RED;
               }
           }
        }
    }

    .greyed:hover {
        cursor: not-allowed;
    }
}