// DEFAULT ----------------------------------------------------------------------------------

#open-prototype-overlay {

    .overlay {
        width: 80%; 
        height: 80%; 
        box-sizing: border-box;
        padding: $X_LARGE_MARGIN;
        display: flex;
        flex-direction: column;

        #existing-prototypes-container {
            overflow-y: auto;
            height: 100%;

            #no-prototypes-message {
                @include center-flex;
                display: none;
                height: 85%;
            }

            .prototype {
                @include primary-button;
                background-color: $LIGHT_GREY;
                border-radius: calc($BORDER_RADIUS * 2);
                padding: $SMALL_MARGIN 0;
                margin-bottom: $SMALL_MARGIN;
                display: grid;
                grid-template-columns: 1fr auto auto;

                p {
                    @include start-flex;
                    margin: 0 $MEDIUM_MARGIN;
                }

                a, .icon-container {
                    margin-right: $SMALL_MARGIN;
                }

                .icon-container {
                    @include icon-button($MEDIUM_ICON, $LIGHT_GREY, 11px 13px);

                    i {
                        color: $RED;
                    }

                    i:hover {
                        background-color: $GREY;
                    }
                }
            }
        }
    }
}