extends layout.pug

block append stylesheets
    link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")


block content
    - var adminUser               = CIRCLES.USER_CATEGORIES.ADMIN_USERS.includes(userInfo.userType);
    - var managerUser             = CIRCLES.USER_CATEGORIES.MANAGER_USERS.includes(userInfo.userType);
    - var standardUser            = CIRCLES.USER_CATEGORIES.STANDARD_USERS.includes(userInfo.userType);
    - var guest                   = userInfo.userType === CIRCLES.USER_TYPE.GUEST;
    - var magicGuest              = userInfo.userType === CIRCLES.USER_TYPE.MAGIC_GUEST;
    - var world;

    // Updating session display name ------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    form(action="/update-session-name" method="post" class="pure-form pure-form-aligned")
        fieldset
            .pure-left-control-group
                label(style='white-space:nowrap') Session Display Name
                    span.top-tooltip <i class="fa-solid fa-circle-info"></i>
                        p.top-tooltip-text(style='width:310px;margin-left:-155px;') Set your display name for this session. Change it permanently on the Profile page
                    input.field-long(type='text' name='sessionName' placeholder='SuperFriend99' style='margin:0 10px 0 30px' value=sessionName)
                    span 
                        input(type='submit' value='Set Name' class='pure-button pure-button-primary')

        if successMessage
            div(style='margin:20px 0 10px 0')
                i(class='fa-solid fa-circle-check success-icon')
                span.success-message #{successMessage}

        if errorMessage
            div(style='margin:20px 0 10px 0')
                i(class='fa-solid fa-triangle-exclamation error-icon')
                span.error-message #{errorMessage}

    // Updating session avatar ------------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    div(style='margin:20px 0 30px 0;')
        p(style='display:inline-block;') Customize avatar appearance for the session: 
        a(class="pure-button worldList" style='margin:0 8px 0 15px; vertical-align:middle;' href='/w/Wardrobe') Wardrobe
        span.right-tooltip <i class="fa-solid fa-circle-info"></i>
            p.right-tooltip-text(style='width:auto;white-space:nowrap') Change it permanently on the Profile page

    br
    br

    // Circles ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    div#circles-bar.table-top-bar

        if magicGuest
            h3#magic-circles(onclick='showCirclesSection("magic-circles")') Magic Circles

        if adminUser || managerUser || standardUser
            h3#your-circles(onclick='showCirclesSection("your-circles")') Your Circles

        h3#public-circles(onclick='showCirclesSection("public-circles")') Public Circles

        if adminUser || managerUser
            h3#editable-circles(onclick='showCirclesSection("editable-circles")') Editable Circles

    

    script.
        selectCircleGroup('#{userInfo.userType}');