html
    head

        title Welcome to CIRCLES
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        block stylesheets
            link(rel='stylesheet' type='text/css' href='/web/css/styles.css')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

        block scripts
            script(src='/web/js/forms.js')
            script(src='https://kit.fontawesome.com/23ccd10015.js' crossorigin='anonymous')

    body 

        main 

            // Webpage -------------------------------------------------------------------------------------------------------------------------------------

            // Login --------------------------------------------------------------------------------
            section#login

                // Left side (photo) ----------------------------------------------------------------
                #left 

                // Right side (content) -------------------------------------------------------------
                #right

                    #logo 
                        include includes/circles-logo.svg

                    #introduction 
                        p Circles is a WebXR learning framework and research project that explores multi-learner and multi-platform (Desktop, Mobile, and HMD) learning affordances. [Work-In-Progress].

                    #login-form 

                        if message
                            p.error-message= message

                        form(action='/login' method='post')

                            .form-field
                                label.required-form-label Username
                                input(type='text' name='username' placeholder='SuperFriend99' required)

                            .form-field
                                label.required-form-label Password 
                                input(type='password' name='password' required)

                            .form-field.last-field.full-width-submit
                                input(type='submit' value='Login')

                        p.register-message Don't have an account? 
                            a.link-icon(href='/register') Register here

                        p.guest-message Or 
                            a.link-icon(href='/guest-login') continue as guest

                    #intro-video
                        #video-container
                            iframe(src='https://player.vimeo.com/video/326387226' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)