extends layout.pug

block append stylesheets
  link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")

block content

    h4(style='text-align:center') Take a look at the other Circles out there and what they have been working on!
    br
    br
    br

    div.server-wrapper
        h2 Name's Circles
        table.circles-server-table
            tbody
                thead
                    th.server-description Description
                    th.server-worlds Worlds
                tr
                    td.server-description In blandit eu quam a finibus. In ac luctus libero. Sed erat nisl, hendrerit sed placerat quis, mollis ac velit. Proin a porta lacus, sit amet dapibus urna. Mauris dictum ultrices augue, eget efficitur tellus. Duis a massa non massa suscipit posuere. Curabitur congue congue odio, at lacinia lorem.
                    td.server-worlds 
                        ul 
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span In
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span blandit
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span eu
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span quam gj hgg
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span a
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span finibus
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span In
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span ac
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span luctus gih
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span libero
        p <b>Check it out: </b>
            a(href='') linkitylink.com

    div.server-wrapper
        h2 Name's Circles
        table.circles-server-table
            tbody
                thead
                    th.server-description Description
                    th.server-worlds Worlds
                tr
                    td.server-description In blandit eu quam a finibus. In ac luctus libero. Sed erat nisl, hendrerit sed placerat quis, mollis ac velit. Proin a porta lacus, sit amet dapibus urna. Mauris dictum ultrices augue, eget efficitur tellus. Duis a massa non massa suscipit posuere. Curabitur congue congue odio, at lacinia lorem.
                    td.server-worlds 
                        ul 
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span In
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span blandit
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span eu
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span quam gj hgg
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span a
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span finibus
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span In
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span ac
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span luctus gih
                            li 
                                <i class="fa-solid fa-circle fa-2xs"></i>
                                span libero
        p <b>Check it out: </b>
            a(href='') linkitylink.com