html
  head
    title Circles - #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block stylesheets
      link(rel="stylesheet" type="text/css" href="/web/css/vendor/pure-min.css")
      link(rel="stylesheet" type="text/css" href="/web/css/app.css")
      link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")
     
  body
    .homepage
      .homepage__left
      .homepage__right
        .homepage__logo-wrapper.gutter-bottom
          .homepage__logo
            include includes/circles_logo.svg
        
        .homepage__register
            p Circles is a WebXR learning framework and research project that explores multi-learner and multi-platform (Desktop, Mobile, and HMD) learning affordances. [Work-In-Progress].
          
            p(style='margin-top:10px') Create an account to begin exploring! Or 
              a(href="/guestLogin") continue as guest

            h2(class="text--centered" style='margin:40px 0 20px 0') Register

            p(class="text--centered" style="color:red") #{message}

            form(action="/registering" method="post" class="pure-form pure-form-aligned")
              fieldset
                .pure-right-control-group
                  label Username
                  input(right='text' name='username' placeholder='SuperFriend99' required)
                .pure-right-control-group
                  label Password
                  input.field-long(type='password' name='password' required)
                .pure-right-control-group
                  label Confirm password
                  input.field-long(type='password' name='passwordConf' required)
                .pure-controls
                  input(type='submit' value='Register' class="pure-button pure-input-1-2 pure-button-primary")
            
            p(class="text--centered" style='margin-top:30px')
              a(href="/") Return to home page