html
  head
    title Circles - #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block stylesheets
      link(rel="stylesheet" type="text/css" href="/web/css/OLD/vendor/pure-min.css")
      link(rel="stylesheet" type="text/css" href="/web/css/OLD/app.css")
      link(rel="stylesheet" type="text/css" href="/web/css/OLD/vendor/color-picker.css")
    block scripts
      script(src="https://kit.fontawesome.com/23ccd10015.js" crossorigin="anonymous")
     
  body
    .homepage
      .homepage__left
      .homepage__right
        .homepage__logo-wrapper.gutter-bottom
          .homepage__logo
            include includes/circles-logo.svg
        
        .homepage__register
            p Circles is a WebXR learning framework and research project that explores multi-learner and multi-platform (Desktop, Mobile, and HMD) learning affordances. [Work-In-Progress].
          
            p(style='margin-top:10px') Create an account to begin exploring! Or 
              a(href="/guest-login") continue as guest

            h2(class="text--centered" style='margin:40px 0 20px 0') Register

            center
              if message
                div(style='margin-bottom:15px')
                  i(class='fa-solid fa-triangle-exclamation error-icon')
                  span.error-message=message

            form(action="/register-user" method="post" class="pure-form pure-form-aligned")
              fieldset
                .pure-right-control-group
                  label Username 
                    span.required *
                  input.field-long(right='text' name='username' placeholder='SuperFriend99' required)
                .pure-right-control-group
                  label Password 
                    span.required *
                  input.field-long(type='password' name='password' required)
                .pure-right-control-group
                  label Confirm password 
                    span.required *
                  input.field-long(type='password' name='passwordConf' required)
                .pure-controls
                  input(type='submit' value='Register' class="pure-button pure-input-1-2 pure-button-primary")
            
            p(class="text--centered" style='margin-top:30px')
              a(href="/") Return to home page