html
    head

        title Register for uni-VR-sity
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        block stylesheets
            link(rel='icon' href='/web/images/logos/uni-VR-sity-logo-with-background.png' type='image/x-icon')
            link(rel='stylesheet' type='text/css' href='/web/css/styles.css')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

        block scripts
            script(src='/web/js/forms.js')
            script(src='/web/js/views/register.js')
            script(src='https://kit.fontawesome.com/23ccd10015.js' crossorigin='anonymous')

    body.no-navigations

        // Webpage ---------------------------------------------------------------------------------------------------------------------------------
        main 

            // Login --------------------------------------------------------------------------------
            section#register

                // Left side (photo) ----------------------------------------------------------------
                #left 

                // Right side (content) -------------------------------------------------------------
                #right

                    #logo 
                        a.logo(href='/')
                            img(src='/web/images/logos/uni-VR-sity-logo.png' alt='uni-VR-sity Logo')

                    #introduction 
                        
                        p Create an account to begin exploring! Or 
                            a.link-icon(href="/guest-login") continue as guest

                    #register-form 

                        form(onsubmit='registerUser(event)' method='post')

                            p#registration-error.error
                            p#registration-success.success

                            i#loading-icon(class="fa-solid fa-spinner fa-spin-pulse")

                            .form-field
                                label.required-form-label Username
                                input(type='text' name='username' required)

                            .form-field
                                label.required-form-label Email
                                input(type='email' name='email' required)

                            .form-field
                                label.required-form-label Password 
                                input(type='password' name='password' required)

                            .form-field
                                label.required-form-label Confirm password 
                                input(type='password' name='passwordConf' required)

                            .form-field.last-field.full-width-submit
                                input(type='submit' value='Register')

                        p.login-message() Have an account? 
                            a.link-icon(href='/login') Log in here