// DEFAULT ----------------------------------------------------------------------------------

#login {
    display: flex;
    background-image: url("/web/images/campfire.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    min-height: 100%;
    margin: 0;

    // Left side (photo)
    #left {
        display: block;
        width: 50%;
    }

    // Right side (content)
    #right {
        flex-direction: column;
        width: 50%;
        padding: $LARGE_MARGIN;
        box-sizing: border-box;
        position: relative;
        background-color: $LIGHT_GREY;

        #logo {
            max-width: 340px;
            margin: 0 auto;
            margin-bottom: $LARGE_MARGIN;
            
            a {
                display: block;
                width: 25%;
                margin: auto;

                img {
                    width: 100%;
                }
            }
        }

        #introduction, #login-form, #intro-video {
            max-width: 500px;
            margin: 0 auto;
        }

        #introduction {
            margin-bottom: $LARGE_MARGIN;
        }

        #login-form {
            margin-bottom: $LARGE_MARGIN;
            
            form {
                width: fit-content;
                margin: 0 auto;
                margin-bottom: $LARGE_MARGIN;

                .error-message {
                    @include center-flex;
                    padding-bottom: $MEDIUM_MARGIN;
                }

                .form-field {
                    margin-bottom: $SMALL_MARGIN;
                }
            }

            p {
                text-align: center;
            }

            .register-message {
                margin-bottom: $SMALL_MARGIN;
            }
        }
    }
}

// MOBILE -----------------------------------------------------------------------------------
@media only screen and (max-width: $MOBILE_BREAK) 
{
    #login {

        // Left side (photo)
        #left {
            display: none;
        }

        // Right side (content)
        #right {
            width: 100%;
        }
    }
}